body {
  padding: 0 50px 50px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  display: flex;
  justify-content: space-around;
  border: 2px solid #dddddd;
  padding: 6px 16px;
  margin-bottom: 16px;
}

nav > a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16pt;
  padding: 10px;
}

nav > a:hover {
  background-color: #ccccff;
  color: white;
}

button:hover {
  cursor: pointer;
}

h2, h3 {
  text-align: center;
}

h3 {
  text-decoration: underline;
}

.main-content {
  border: 2px solid #dddddd;
  padding-bottom: 32px;
}

.index-table-container {
  display: flex;
  justify-content: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

table.all-flights {
  width: 50%;
}

div.flight-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.seats {
  margin-right: 32px;
  overflow-y: auto;
  height: 461px;
}

table.seats,
table.destinations {
  width: 100%;
}

div.seat {
  box-sizing: border-box;
  padding: 8px;
}

div.seat:hover {
  cursor: pointer;
}

div.vacant {
  background-color: lightgreen;
}

div.occupied {
  background-color: indianred;
}

table.seats th,
table.seats td {
  text-align: center;
}

table.seats td {
  padding: 0px;
}

th:last-child {
  text-align: center;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

td.redirect:hover {
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.late {
  color: red;
}

div.destinations {
  margin-right: 32px;
}

td.delete-flight {
  display: flex;
  justify-content: center;
}

.center-container {
  display: flex;
  justify-content: center;
  margin: 16px;
}

.new-flight {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 27%;
}

.new-flight input[type="submit"]{
  grid-column: 1 / span 2;
  margin: 16px auto;
}

.flight-layout {
  display: grid;
  grid-template-columns: 256px 512px auto;
}

.flight-layout p{
  display: inline-block;
  margin: 4px 8px;
}

.flight-layout h1 {
  display: inline-block;
  margin: 8px 0;
}