<%- include('../header') %>
<h2>New Flight</h2>
<form action='/flights' method='POST'>
    <div class="new-flight">
        <p>Departs from:</p>
        <select name="airport">
            <option value="AUS">AUS</option>
            <option value="DAL">DAL</option>
            <option value="LAX">LAX</option>
            <option value="SEA">SEA</option>
        </select>
        <p>Airline:</p>
        <select name="airline">
            <option value="American">American</option>
            <option value="Southwest">Southwest</option>
            <option value="United">United</option>
        </select>
        <p>FlightNo:</p>
        <input type="text" pattern="\d\d+" required size="4" maxlength="4" name="flightNo">
        <p>Departure:</p>
        <input type="datetime-local" name="departs">
        <input type="submit" value="Add flight">
    </div>
</form>
<%- include('../footer') %>